.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-field {
    width: 100vw;
    max-width: 400px;
    background: white;
}

mat-form-field {
    border-radius: 8px;
}

.search-checkbox {
    white-space: nowrap; /* Prevents checkbox label from wrapping */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.card {
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    transition:
        transform 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;
    transition:
        transform 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.user-link {
    text-decoration: none;
    color: #1976d2;
    font-weight: bold;
    transition: color 0.3s;
}

.user-link:hover {
    color: #125a9c;
}

.info-link {
    text-decoration: none;
    color: #009688;
    transition: color 0.3s;
}

.info-link:hover {
    color: #00796b;
}

mat-card-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding: 16px;
}

mat-card-actions button {
    min-width: 100px;
    padding: 8px 16px;
}
